aiohttp
aiosignal
alpaca-trade-api
attrs
backtrader
beautifulsoup4
blinker
certifi
charset-normalizer
click
contourpy
cycler
deprecation
diskcache
feedparser
finnhub-python
Flask
fonttools
frozendict
frozenlist
html5lib
idna
iniconfig
itsdangerous
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
msgpack
multidict
multitasking
newsapi-python
nltk
numpy
packaging
pandas
peewee
pillow
platformdirs
pluggy
psycopg2-binary
pyparsing
pytest
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
sgmllib3k
six
soupsieve
tqdm
tzdata
urllib3
webencodings
websocket-client
websockets
Werkzeug
wh
yarl
yfinance
openpyxl
requests_html